div{
    float: left;
    margin: 25px;
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(32, 32, 32);
    border-radius: 10px;
    padding: 20px;
}

button{
    width: 100px;
    height: 30px;
    background-color: green;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

