.kart{
    float: left;
    margin: 25px;
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(32, 32, 32);
    border-radius: 10px;
    padding: 20px;
}

button{
    width: 100px;
    height: 30px;
    background-color: green;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

ul{
    list-style: none;
    background-color: rgb(88, 88, 88);
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

li a{
    float: left;
    margin: 0 20px;
    text-decoration: none;
    color: white;
}

